{% extends 'main/base.html' %}

{%block title%}
About
{%endblock%}

{% block ref%}
<li class="nav-item"><a href="{% url 'home' %}" class="nav-link ">Заметки</a></li>
<li class="nav-item"><a href="{% url 'create' %}" class="nav-link " >Добавить заметку</a></li>
<li class="nav-item"><a href="{% url 'weather' %}" class="nav-link">Погода</a></li>
<li class="nav-item"><a href="{% url 'about' %}" class="nav-link active" aria-current="page">О нас</a></li>
{%endblock%}



{%block content%}
    <div>About</div>
{%endblock%}

